<!Doctype>
<html>
<head>
<title>
  Sea Buttle
</title>
<script src="http://www.html5canvastutorials.com/libraries/kinetic-v4.3.3-beta.js"></script>
<script src='/js/libs/underscore-min.js'></script>
<script src='/js/logic/game.js'></script>
<script src='/js/logic/field.js'></script>
<script src='/js/logic/ship.js'></script>
<script src='/js/logic/cell.js'></script>
</head>
<body>
  Sea buttle will be here
  <div id='my_ships'></div>
  <script>
    game = new Game();
    game.start();
  </script>
</body>
</html>
